body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 50px auto 0;
  font-size: 18px;
}


.modal {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: auto;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  margin: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay.hidden {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  /* margin-top:110px ; */
  animation: slideIn 0.5s ease-in-out forwards;
  max-width: 700px;
  min-width: 300px;
  background: transparent;
  border-radius: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translateY(-50%);
    opacity: 1;
  }
}

.modal-content h2{
    color: #4FEFFF;
}

.modal-content img{
  width: 100%;
  height: auto;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;

}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  background:transparent ;
}
