.skills-page {
  padding-left: 100px;
  padding-right: 50px;
  width: calc(100% - 150px);
  position: initial;
  height: 100%;
  overflow: auto;

  .font-bold {
    font-weight: bold;
    color: #4fefff;
  }

  .skills-container {
    width: 50%;
    height: 100%;
    top: 0;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
  }
}

.content-skills {
  display: flex;
  justify-content: center;
}

.tagcloud {
  top: 0;
  left: 0;
  width: 100%;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 0.0625em;
  font-size: 1.3em;

  .tagcloud--item {
    color: #00ffffff;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1200px) {
  .skills-page {
    position: initial;

    .skills-container {
      position: initial;
      width: 100%;
      height: auto;
      overflow: hidden;
    }
  }
}
