.portfolio-page {
    padding-left: 100px;
    padding-right: 50px;
    width: calc(100% - 150px);
    position: initial;
    height: 100%;
    overflow: auto;

    h1.page-title {
        margin-left: 100px;
        margin-top: 100px;
    }

    .images-container {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }

    .image-box {
        position: relative;
        flex: 1 1 20%;
        height: 400px;
        overflow: hidden;
        opacity: 0;
        border-radius: 10px;
        max-width: calc(25% - 10px);
        min-width: 150px;
        transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
        

        .portfolio-image {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content {
            position: absolute;
            width: 100%;
            z-index: 3;
            padding: 10px 20px;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.2) 0,
                rgba(0, 0, 0, 1)
            );
            bottom: -70px;
        }

        .title {
            margin-bottom: 0;
            margin-top: 0;
            color: #fff;
            font-size: 2rem;
            font-weight: 400;
            line-height: 24px;
        }

        .description {
            font-size: 14px;
            margin-bottom: 5px;
            color: #fff;
            font-weight: 700;
        }

        .btn {
          // z-index: 999;
            margin-top: 30px;
            margin-bottom: 10px;
            padding: 0 23px;
            height: 40px;
            line-height: 34px;
            border: 2px solid #4FEFFF;
            border-radius: 4px;
            font-size: 14px;
            color: #4FEFFF;
            background: transparent;
            text-transform: uppercase;
            font-weight: 700;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            cursor: pointer;
        }

        .btn:hover {
            transform: translateY(-3px);
            background: #4FEFFF;
            color: #333;
        }

        &:after {
            content: "";
            background: linear-gradient(180deg, #4FEFFF, #000);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            opacity: 0;
        }

        &:hover:after {
            opacity: 0.85;
        }

        &:hover .content {
            bottom: 0;
            background: transparent;
        }
    }
}

    /* Add this SCSS to style the portfolio items */

// .images-container {
//     display: flex;
//     flex-wrap: wrap ;
//     gap: 15px;
//     padding-bottom: 100px;
//   }
  
  // .image-box {
  //   position: relative;
  //   flex: 1 1 20%;
  //   height: 400px;
  //   overflow: hidden;
  //   border-radius: 10px;
  //   max-width: calc(25% - 10px);
  //   transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  
  //   &:hover {
  //     transform: translateY(-3px);
  //   }
  
  //   .portfolio-image {
  //     position: absolute;
  //     z-index: 2;
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //   }
  
  //   .content {
  //     position: absolute;
  //     width: 100%;
  //     z-index: 3;
  //     padding: 10px 20px;
  //     transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  //     background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 1));
  //     bottom: -70px;
  
  //     h3.title {
  //       margin-bottom: 0;
  //       margin-top: 0;
  //       color: #fff;
  //       font-size: 24px;
  //       font-weight: 500;
  //       line-height: 24px;
  //     }
  
  //     p.description {
  //       font-size: 14px;
  //       margin-bottom: 5px;
  //       color: #fff;
  //       font-weight: 700;
  //     }
  
  //     button.btn {
  //       margin-top: 30px;
  //       margin-bottom: 10px;
  //       padding: 0 23px;
  //       height: 40px;
  //       line-height: 34px;
  //       z-index: 999;
  //       border: 2px solid #4FEFFF;
  //       border-radius: 4px;
  //       font-size: 14px;
  //       color: #fff;
  //       background: transparent;
  //       text-transform: uppercase;
  //       font-weight: 700;
  //       transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  //       cursor: pointer;
  
  //       &:hover {
  //         background: #4FEFFF;
  //       }
  //     }
  
  //     &:after {
  //       content: "";
  //       background: linear-gradient(180deg, #4FEFFF, #000);
  //       position: absolute;
  //       left: 0;
  //       right: 0;
  //       bottom: 0;
  //       top: 0;
  //       width: 100%;
  //       height: 100%;
  //       z-index: 2;
  //       transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  //       opacity: 0;
  //     }
  //   }
  
  //   &:hover:after {
  //     opacity: 0.85;
  //   }
  
  //   &:hover .content {
  //     bottom: 0;
  //     background: transparent;
  //   }
  // }

  // .Modal{
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   z-index: 999;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0,0,0,0.8);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   padding: 20px;
  // }
  
